html {
   background: black;
}

h1 {
   color: white;
   text-align: center;
   text-transform: uppercase;
}

.board {
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   max-width: 640px;
   margin: auto;
   background: white;
   transform: translateY(15%);
}

.cell {
   height: 80px;
   box-sizing: border-box;

   &.black {
      background: #636363;

      &.highlight {
         background: #599059;
      }
   }
}

.piece {
   display: block;
   margin: auto;
}

.hovered {
   border: 2px solid yellow;
}

.highlight {
   background: #699e69;
   cursor: pointer;
}
