html {
   background: black;
}

h1 {
   color: white;
   text-align: center;
   text-transform: uppercase;
}

.board {
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   max-width: 740px;
   margin: auto;
   border: 1px solid white;
   background: white;
   transform: translateY(15%);
}

.cell {
   height: 80px;
   box-sizing: border-box;

   &.black {
      background: #636363;
   }
}

.piece {
   display: block;
   margin: auto;
   cursor: pointer;
}

.hovered {
   border: 2px solid yellow;
}
